
# Created by https://www.gitignore.io/api/kdevelop4,visualstudiocode
# Edit at https://www.gitignore.io/?templates=kdevelop4,visualstudiocode

### KDevelop4 ###
*.kdev4
.kdev4/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

## Dolphin
.directory
# End of https://www.gitignore.io/api/kdevelop4,visualstudiocode
